:root {
    --main: #333;
    --light: #fff;
    --background: #fff;
    --transition: all .5s;
}
.body {
    font-family: "Montserrat", "Arial", sans-serif;
    color: var(--main);
    background-color: var(--background);
}
.body--opened-menu{
    overflow: hidden;
}
.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.main{
    flex-grow: 1;
    position: relative;
}
.main__background {
    position: absolute;
    top: 325px;
    width: 100%;
    z-index: -2;
}
.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}
/* ========================================== */
.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    z-index: 12;
}
.burger-icon span, 
.burger-icon span::before, 
.burger-icon span::after {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: #03b2a5;

    transition: var(--transition);
}
.burger-icon span {
    position: relative;
}
.burger-icon span::before, 
.burger-icon span::after {
    content: '';
    position: absolute;
}
.burger-icon span::before {
    top:-8px;
}
.burger-icon span::after {
    bottom: -8px;
}
.body--opened-menu .burger-icon span {
    background: transparent;
}
.body--opened-menu .burger-icon span::before {
    top:-0px;
    transform: rotate(45deg);
}
.body--opened-menu .burger-icon span::after{
    bottom: -0px;
    transform: rotate(-45deg);
}