.header {
    border-bottom: 2px solid #eff5fb;
}
.header__inner {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 14px;
    padding-bottom: 14px;
}
.header__logo {
    max-width: 51px;
    margin-right: 51px;
    z-index: 11;
}
.header__logo img {
    width: 100%;
}
.nav {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.nav__list {
    display: flex;
    gap: 30px;
    margin-right: 164px;
}
.nav__item {
    transition: var(--transition);
}
.nav__item:hover {
    color: #03b2a5;
}
.nav__link span{
    padding-right: 8px;
}
.nav__link svg {
    vertical-align: middle;
}
.nav__link svg path {
    transition: var(--transition);
}
.nav__link:hover svg path {
    stroke: #03b2a5;
}
.header__button {
    display: flex;
    justify-content: center;
    align-items: center;

    background: #e3f5f5;
    border-radius: 4px;
    padding: 3px 5px;
    width: 230px;
    height: 48px;

    font-weight: 700;
    font-size: 16px;
    color: #03b2a5;

    transition: var(--transition);
}
.header__button:hover {
    background: #d0efef; 
    box-shadow: 0 2px 6px #03b2a526; 
}